.my-form .form-group {
    padding: 0 10px !important;
}
.my-form .form-group > input {
    border-radius: 0!important;
}
.my-form-check {
    border-top: 1px solid rgb(153, 153, 153, 0.200);
    border-bottom: 1px solid rgb(153, 153, 153, 0.200);
    background-color: white;
    padding: 10px 30px;
}
.checked {
    border-top: 1.5px solid rgb(67, 67, 255) !important;
    background-color: rgba(0, 0, 255, 0.100) !important;
    border-bottom: 1.5px solid rgb(67, 67, 255) !important;
}
.bg-header {
    background: rgb(200, 2, 2);
    padding: 5px 10px 5px 10px;
    font-size: 22px;
    margin: 0 !important;
}
.bg-header2 {
    background: rgb(160, 8, 8);
    padding-right: 20px;
    font-size: 12px;
}
.bg-footer {
    background: rgb(221, 221, 221);
    min-height: 20%;
}
.align-text-center {
    justify-content: center;
}
.search-bg {
    padding: 10px;
    background: rgb(221, 221, 221);
    margin-right: 20px;
}
.nav-pills .nav-link {
    border-radius: 0 !important;
    color: black !important;
}
.nav-pills .nav-link.active {
    background-color: #99999954;
}
.nav-link:hover {
    background-color: #99999954;
}
.card {
    border: 0 !important;
    background: 0 !important;
}
.card .card-header {
    border: 0 !important;
    background: 0 !important;
    font-size: 25px;
    font-weight: normal;
}
.card .card-footer {
    border: 0 !important;
    background: 0 !important;
}
.card .btn.my-btn {
    padding: 4px 25px 4px 25px !important;
}
.card .btn.my-btn-add-user {
    width: 150px;
    margin: 10px;
    background: #9999993d;
    border: 1px solid rgb(153, 153, 153, 0.200);
}
a:hover {
    text-decoration: none !important;
}
.footer-link {
    text-decoration: none !important;
    font-size: 12px !important;
    color: black !important;
    padding: 15px !important;
    font-weight: bold;
}
.img-invert-100 {
    -webkit-filter: invert(100%);
}